.userDetail {
  position: absolute;
  width: 12rem;
  height: 22rem;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  top: 0;
  bottom: 0;
  right: -18%;
  padding: 2rem;
  margin: auto;

}
.avatar {
  /* border: 1px solid red; */
  /* border-radius: 50%; */
}
.avatar img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.details {
  /* border: 1px solid red; */
  text-align: center;
  padding: 0.5rem 0;
}
.details p {
  padding: 4px;
}
.button {
  text-align: center;
}
.name {
  font-weight: bold;
}
.email{
  color: #555555;
}
.yourPlan {
  font-weight: bold;
}

.planUses{
  padding: 1rem 0;
}
.usages {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}
.usage {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  /* border: 1px solid green; */
}
.usageText {
  font-size: 12px;
  color: #555555;
}

.usageNumber {
  font-weight: bold;
  font-size: 1.5rem;
}
.borderRight {
  border-right: 1px solid #bbbbbb;
}

.planUsesOuter{
  width: 100%;
  margin: 8px 0;
  background-color: pink;
  display: flex;
  justify-content: flex-start;
  height: 5px;
}

.planUsesInner{
  width: 60%;
  background-color: purple;
  height: 5px;
}